/* !--HTML---! */

html {
    background-color: lavender;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

body {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}
