input {
    border-radius: 16px;
    border: 1px solid grey;
}
button {
    font-size: 14px;
    padding: 8px;
    border-radius: 16px;
    border: none;
    background-color: #ccc;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lavender;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

body {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}
