<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>Create New Stream</title>
    <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
    <link rel="stylesheet" href="new.css">
</head>

<body>
    <h2>Create Stream</h2>

    <br />
    <form method="post" action="/new" encType="multipart/form-data">
        <p>
            <label for="streamName">Stream name:</label>
            <input type="text" id="streamName" name="streamName">
        <br/>
            <label for="tutorName">Tutor name:</label>
            <input type="text" id="tutorName" name="tutorName">
        </p>
        <label for="file">Choose an existing file:</label>
        <select id="file" name="file" onchange="newFile(this)">
        <% currentFiles.forEach(function(file) { %>
            <option value=<%= file.name %>> <%= file.url %> </option>
        <% }); %>
            <option value=".newfile."> - Upload a New File - </option>
        </select>
        <div id="Upload" style="display: none">
            <label for="fileUpload">Select File:</label>
            <input id="fileUpload" name="fileUpload" type="file"/>
        </div>
        </select>

        <br>
        <br>

        <button class='btn' type="submit">Create Stream</button>
      </form>

    <br />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>

    <script type="text/javascript">
        var currentFiles="<%= currentFiles %>";
    </script>

    <script src="new.js"></script>
</body>